<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  [routerLink]="['/']" ></ion-back-button>
    </ion-buttons>
    <ion-title> GROUPS </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="groupFormId" class="center-content" #groupFrm="ngForm" (ngSubmit)="onSubmit()" >
<!--
    @if( this.error ){
      <ng-container [ngTemplateOutlet]="errorTemplate"></ng-container>
    }
  
    <ng-template #errorTemplate>
      <ion-text>{{ error }}</ion-text>
    </ng-template>
  -->

    <ion-row >
        
        <ion-col>
            <ion-input
              label-placement="floating" 
              placeholder="{{'group.placeholdername' | translate}}"
              label="{{'group.name' | translate}}"
              counter="true"
              maxlength="50"
              [(ngModel)]="groupRequest.name"
              #name="ngModel"
              name="name"
              required
              color="secondary"
              [ngModelOptions]="{ updateOn: 'blur' }"
              GroupNameIsUnique
            >
            @if (name!.pending){
              <ion-spinner slot="end"></ion-spinner>
            }

          </ion-input>
          @if (name!.invalid && (name!.touched || name!.dirty)) {

            @if (name!.errors?.['required']) {
              <ng-container [ngTemplateOutlet]="nameTemplateRequired"></ng-container>
            }
    
    
            @if(name!.errors?.['notUnique']){
              <ng-container [ngTemplateOutlet]="nameTemplateExists"></ng-container>
            }
            
          }
    
          <ng-template #nameTemplateRequired>
            <ion-text class="error-text" color="danger"><small>{{'group.namereq' | translate}}</small></ion-text>
          </ng-template>
    
          <ng-template #nameTemplateExists>
            <ion-text class="error-text" color="danger"><small>{{'group.nameduplicate' | translate}}</small></ion-text>
          </ng-template>

        </ion-col>  

      </ion-row>


    
      <ion-row >
        
        <ion-col>
            <ion-input
              label-placement="floating" 
              placeholder="{{'group.placeholderdescr' | translate}}"
              label="{{'group.descr' | translate}}"
              counter="true"
              maxlength="100"
              [(ngModel)]="groupRequest.descr"
              #descr="ngModel"
              name="descr"
              required
              color="secondary"
            ></ion-input>

            @if ( descr!.invalid && ( descr!.dirty || descr!.touched)) {

              @if (descr!.errors?.['required']) {
                <ng-container [ngTemplateOutlet]="descrTemplateRequired"></ng-container>
              }
              
            }
      
            <ng-template #descrTemplateRequired>
              <ion-text class="error-text" color="danger"><small>{{'group.descrreq' | translate}}</small></ion-text>
            </ng-template>

        </ion-col>  

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-select label="{{'group.account_type' | translate}}" 
                      label-placement="floating" 
                      fill="outline"
                      required
                      [(ngModel)]="groupRequest.account_type"
                      #account_type="ngModel"
                      color="secondary"
                      name="account_type"
                      [value]="1"
                      >
            <ion-select-option [value]="1" translate>user</ion-select-option>
            <ion-select-option [value]="2" translate>market</ion-select-option>
            <ion-select-option [value]="3" translate>restaurant</ion-select-option>
            <ion-select-option [value]="4" translate>medicine</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="!groupFrm.valid"
                    type="submit" 
                    color="secondary" 
                    expand="block"
                    translate="group.buttonsubmit"
                    class="submit-button">
             @if(isLoading) {<ion-spinner class="spinner-button"></ion-spinner>}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-toast
    [isOpen]="isToastOpen"
    message="{{'group.toastsave' | translate}}"
    [duration]="3000"
    (didDismiss)="setOpenToast(false)"
  ></ion-toast>
</ion-content>

