<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  [routerLink]="['/']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <div class="forgot-content">
  
      <form id="forgotFormId" class="forgot-form" #forgotForm="ngForm" (ngSubmit)="onSubmit()" >
    <!--
        @if( this.error ){
          <ng-container [ngTemplateOutlet]="errorTemplate"></ng-container>
        }
        <ng-template #errorTemplate>
          <ion-text>{{ error }}</ion-text>
        </ng-template>
      -->
        <ion-row >
          
          <ion-col>
              <ion-input
                label-placement="floating" 
                placeholder="{{'register.placeholderlogin' | translate}}"
                label="{{'register.login' | translate}}"
                counter="true"
                maxlength="50"
                [(ngModel)]="iUniqueLogin.id"
                #id="ngModel"
                name="id"
                required
                color="secondary"
                appRegexPattern="^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|\d+$"
                [ngModelOptions]="{ updateOn: 'blur' }"
                IsExistsValidate
              >
              @if (id!.pending){
                <ion-spinner slot="end"></ion-spinner>
              }
            </ion-input>

            @if (id!.invalid && (id!.touched || id!.dirty) ) {

              @if (id!.errors?.['required']) {
                <ng-container [ngTemplateOutlet]="loginTemplateRequired"></ng-container>
              }
    
              @else if (id!.errors?.['forbiddenName']?.value !== '' && !id!.errors?.['notExists']) {
                <ng-container [ngTemplateOutlet]="loginTemplatePattern"></ng-container>
              }
    
              @else if(id!.errors?.['notExists']){
                <ng-container [ngTemplateOutlet]="loginTemplateExists"></ng-container>
              }
              
            }
            
            <ng-template #loginTemplateRequired>
              <ion-text class="error-text" color="danger">{{'register.loginreq' | translate}}</ion-text>
            </ng-template>

            <ng-template #loginTemplatePattern>
              <ion-text class="error-text" color="danger">{{'register.loginreqpattern' | translate}}</ion-text>
            </ng-template>

            <ng-template #loginTemplateExists>
              <ion-text class="error-text" color="danger"><small>{{'forgot.loginnotfound' | translate}}</small></ion-text>
            </ng-template>
          </ion-col>  

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="!forgotForm.valid" type="submit" color="secondary" expand="block" class="submit-button">{{'forgot.createnewpassword' | translate}}  @if(isLoading) {<ion-spinner class="spinner-button"></ion-spinner>}</ion-button>
          </ion-col>
        </ion-row>
        <small>
          {{'forgot.note' | translate}}
        </small>
      </form>
  </div>  
</ion-content>
