
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/category']" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title class="ion-text-center"> {{currentCategory.name}} </ion-title>
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="category-container">
   
    <img class="img-category" [src]="imageUrl"/>

    <ion-fab  class="image-fab">
      <ion-fab-button class="camera-button"  size="small" (click)="openModalImage()" >
        <ion-icon  name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <ion-grid >
      <ion-row  class="ion-align-items-center">
        <ion-col>{{currentCategory.name}}</ion-col>
      </ion-row>
      <ion-row  class="ion-align-items-center">
        <ion-col>{{currentCategory.descr}} </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
