
:root {
   --heightcontent: calc(100vh - 63px);
 }

swiper-container {
    width: 100%;
    height:100%;
    
   --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
   --swiper-pagination-color: var(--ion-color-primary, #0054e9);
 
 }
   
   
swiper-slide {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

  
.top-div-search{
    height: calc(100vh * 0.09);
    overflow: hidden;
}

.middle-div-groups{
    margin-top: 10px;
    margin-left : 3px;
    margin-right : 3px;
    height:  calc(100vh * 0.49);
}



.top-div-offers{
    margin-top: 10px;
    margin-left : 10px;
    margin-right : 10px;
    height: calc(100vh* 0.19);;
    overflow-y :hidden;
    direction: ltr;
}

.link-list-groups{
   margin-top: 3px;
   margin-left : 10px;
   margin-right : 10px;
}
.image-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    border-radius: 5px;
 }

 .text-offer{
    color: white;
    font-weight:300;
    text-align: center;
 }


