<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'app_menu.main' | translate }}</ion-title>
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false" >

  <div class="top-div-search">

    <ion-searchbar  showCancelButton="focus" class="custom" #inputSearch [debounce]="500" placeholder="{{ 'app.search' | translate }}"   ></ion-searchbar>
    
  </div>
 
  <div class="top-div-offers"  >
      <swiper-container  
                    #swiper 
                    [modules]="swiperModules"
                    [initialSlide]="1"
                    [slidesPerView]="1"
                    [centeredSlides]="true"
                    [spaceBetween]="20" 
                    [autoplay]="{delay : 1000}"
                    >
                      <swiper-slide *ngFor="let image of images">
                        
                          <div class="image-container" style="background-image: url({{image}});" >
                            <div class="text-offer" > Image Offer </div>
                          </div>
                        
                      </swiper-slide>
                    
      </swiper-container>
  </div>

  <div class="middle-div-groups" >
    <ion-content>
      <ion-grid scrollable>
        <ion-row>
          @for(group of groups ; track group.name){
          <ion-col size="4"  class="group-margin-padding">
            <ion-card  class="card-group ion-no-margin ion-no-padding" (click)="groupClicked(group)">
              
              <div class="image-group">
                  
                    <img src="{{ group.img }}" >
                  
              </div>
 
             <div class="name-group">
                <h1>{{ group.name }}</h1>
             </div> 

            </ion-card>

          </ion-col>
        }
        </ion-row>
      </ion-grid>

      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    
  </div>

  <div class="link-list-groups">
    <a  [routerLink]="['/home/main-page/list-groups']" class="small-text">{{'app.show_more' | translate}}</a>
  </div>
 
</ion-content>

