
<!-- <ion-header >
  <ion-toolbar color="primary">
    <ion-title >Swiper</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goPrev()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button (click)="goNext()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="overflow: hidden;">
 
  <div class="top-div">
      <swiper-container  
                    #swiper 
                    initial-slide="0"
                    [slidesPerView]="1"
                    [navigation]="true"
                    [loop]="true" 
                    [autoplay]="true"
                    >
                      <swiper-slide *ngFor="let image of images">
                        
                          <div class="image-container" style="background-image: url({{image}});" (click)="navigateTo('/login')">
                            <div class="text-offer" > Image Offer</div>
                          </div>
                         
                         
                        
                      </swiper-slide>
                    
      </swiper-container>
    </div>

    <div class="top-div">
      <swiper-container  
                    #swiper1 
                    initial-slide="0"
                    [slidesPerView]="1"
                    [navigation]="true"
                    [loop]="true" 
                    [autoplay]="true"
                    >
                      <swiper-slide *ngFor="let image of images">
                        
                          <div class="image-container" style="background-image: url({{image}});" (click)="navigateTo('/login')">
                            <div class="text-offer" > Image Offer</div>
                          </div>

                        
                      </swiper-slide>
                    
      </swiper-container>
    </div>
  
</ion-content> -->



<app-start></app-start> 