.q-i-container{
    margin-top : 3px;
    border: 2px solid #3d88ea;
    border-radius: 5px;
    height: 37px;
    text-align: center;
}

.icon {
    display: inline-block;
    height: 35px;
    width: 25px;
    text-align: center;
}

.text-quantity{
    display: inline-block;  
    vertical-align: top;
    padding-top: 7px;  
    text-align: center;
    height: 35px;
    min-width: calc(100% - 50px);
    width: calc(100% - 50px);
}


