<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ 'app_menu.shopping_cart' | translate }} </ion-title>
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
     @for(order of orders ;track order.id; let idx = $index){
      <app-order-card 
         [index]="idx" 
         [order]="order" 
         (deleteOrderEmitter)="deleteOrder()"
         (deleteProductEmitter)="deleteProduct($event)" 
         (updateProductEmitter)="updateProduct($event)" >
      </app-order-card>
     }

</ion-content>
