<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/home/main-page']" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    @if (accountProduct) {
      <ion-title class="ion-text-center"> {{ accountProduct!.product_name }}  </ion-title> 
     }
     @else{
      <ion-title class="ion-text-center"> {{ 'accountproduct.accountproductmenu' | translate }} </ion-title>
     }
      
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>

  </ion-toolbar>

</ion-header>

<ion-content >

  <div class="container-button-add">
    <div class="text-des-add">
     <p class="ion-text-center title-button-add-products" > {{'app.addNewProductsBase' | translate}} </p> 
    </div>
    <ion-button class="button-add" [disabled]="accountProduct"  id="offer-select-items" ><ion-icon name="create"></ion-icon></ion-button>
  </div>



  
  @if (!accountProduct) {

    <ion-searchbar #inputSearch [debounce]="3000" placeholder="{{ 'app.search' | translate }}"  (ionInput)="searchbarInputAccountProducts($event)"></ion-searchbar>

  }

  <ng-template #accountProductFormTemplate let-accountId="currentAccountId" let-accountProduct="currentAccountProduct"  >
 
    <account-product-form-component 
             [Account]="accountId" 
             [AccountProduct]="accountProduct"
             (saveEventEmitter)="accountProductSaved($event)"
             (cancelEventEmitter)="cancelAccountProductDailog()"
              >
    </account-product-form-component>

  </ng-template>

  @if (accountProduct) {
      <ng-container 
        *ngTemplateOutlet="accountProductFormTemplate;context:accountProductCtx">
      </ng-container>
  }

  <ng-template #accountProductsList >
    <ion-content [scrollY]="false" class="accountProductsList">

      <cdk-virtual-scroll-viewport itemSize="150" class="ion-content-scroll-host">

        <ion-list [inset]="true">
          <ion-item [button]="true" class="ion-border" *ngFor="let product of filteredProducts ; trackBy: trackItems" (click)="viewDetail(product)">
            <ion-avatar slot="start">
              <img [src]="product?.product_image" />
            </ion-avatar>
            <ion-text> {{ product.product_name }} </ion-text>
            @if(product?.notUpdate){
              <ion-text slot="end"  color="danger"><small>{{'accountproduct.productaddedtemporary' | translate}}</small></ion-text>
            }
          </ion-item>
        </ion-list>

        <ion-infinite-scroll  (ionInfinite)="onIonInfiniteCurrentProducts($event)" threshold="100px">
          <ion-infinite-scroll-content loadingText="{{'app.show_more' | translate}}" loadingSpinner="lines-sharp"></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </cdk-virtual-scroll-viewport>

    </ion-content>
  </ng-template>

  @if (!accountProduct) {
    <ng-container 
      [ngTemplateOutlet]="accountProductsList">
    </ng-container>
}
</ion-content>

<ion-modal trigger="offer-select-items" #modal (willDismiss)="onWillDismiss($event)">
 
  <ng-template>
    <app-multi-selection-search
      class="ion-page"
      title="{{ 'single_selection_searchbox.selectitem' | translate }}"
      [items]="items"
      (searchEmit)="searchValueEmit($event)"
      (selectionChange)="itemSelected($event)"
      (selectionCancel)="modal.dismiss()"
      (infiniteScrollEmit)="infiniteScrollEmit($event)"
    ></app-multi-selection-search>
  </ng-template>

</ion-modal>
