.supplier-card-container {
    background-color: #ffffff;
    width: 100%;
    height: 300px;
    margin: 1px;
    border: 1px solid black ;
}

.supplier-card-header{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height : 40%;
}

.supplier-card-logo {
    margin: 1px;
    width: 25%;
    height: 100%;
    border: 1px solid black ;
}

.supplier-card-info {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    width: 45%;
    height: 100%;
    border: 1px solid black ;
}

.supplier-card-info-center-content {
   margin: 25px  25px ;
   border: 1.5px solid black ;
   width:35%;
}

.supplier-card-options {
    margin: 1px;
    width: 30%;
    height: 100%;
    border: 1px solid black ;
}