<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/']" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'register.logintitle' | translate}}</ion-title>
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <div class="login-content">
    
    <form class="login-form" id="loginFormId"  #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <ion-row >
          
          <ion-col>
              <ion-input
                label-placement="floating" 
                placeholder="{{'register.placeholderlogin' | translate}}"
                label="{{'register.login' | translate}}"
                counter="true"
                maxlength="50"
                [(ngModel)]="credential.login"
                #login="ngModel"
                name="login"
                required
                color="secondary"
                appRegexPattern="^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|\d+$"
              ></ion-input>
              
            @if (login!.touched && login!.invalid) {

              @if (login!.errors?.['required']) {
                <ng-container [ngTemplateOutlet]="loginTemplateRequired"></ng-container>
              }

              @if (login!.errors?.['forbiddenName']!.value !== '') {
                <ng-container [ngTemplateOutlet]="loginTemplatePattern"></ng-container>
              }
              
            }

            <ng-template #loginTemplateRequired>
              <ion-text class="error-text" color="danger">{{'register.loginreq' | translate}}</ion-text>
            </ng-template>

            <ng-template #loginTemplatePattern>
              <ion-text class="error-text" color="danger">{{'register.loginreqpattern' | translate}}</ion-text>
            </ng-template>
          </ion-col>  

        </ion-row>

        
      <ion-row >
        <ion-col>
          <ion-input
            label-placement="floating" 
            placeholder="{{'register.enterpassword' | translate}}"
            label="{{'register.password' | translate}}"
            counter="true"
            maxlength="20"
            required
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="credential.password"
            #password="ngModel"
            name="password"
            minlength="6"
            color="secondary"
          >
          @if (password!.value !== '') {
            <ion-icon slot="end" [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide"></ion-icon>
          }
          </ion-input>

          @if (password!.touched && password!.invalid) {
            @if (password!.errors?.['required']) {
              <ng-container [ngTemplateOutlet]="passwordTemplateRequired"></ng-container>
            }
          }
    
          <ng-template #passwordTemplateRequired>
            <ion-text class="error-text" color="danger">{{'register.passwordreq' | translate}}</ion-text>
          </ng-template>
          
        </ion-col>

      </ion-row>
      <ion-row >
        <ion-col>
          <div class="ion-text-start">
            <ion-checkbox labelPlacement="end"  
             [(ngModel)]="credential.rememberMe"
            #rememberMe="ngModel"
            name="rememberMe" 
             >{{'login.rememberme' | translate}}</ion-checkbox>
          </div>
        </ion-col>
      </ion-row>

        <ion-row>
          <ion-col>
            <ion-button 
               [disabled]="!loginForm.valid" 
               type="submit" 
               color="secondary" 
               expand="block" 
               class="submit-button">
               {{'login.submit' | translate}}  @if(isLoading) {<ion-spinner class="spinner-button"></ion-spinner>}
            </ion-button>

                @if (error) {
                  <ng-container [ngTemplateOutlet]="NotCredential"></ng-container>
                }
              
        
              <ng-template #NotCredential>
                
                <ion-row>
                  <ion-col>
                    <ion-text class="error-text" color="danger">{{'login.notcredential' | translate}}</ion-text>
                  </ion-col>
                </ion-row>   

              </ng-template>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-text-end">
              <a [routerLink]="['/forgot']" class="small-text">{{'login.forgetpassword' | translate}}</a>
            </div>
          </ion-col>
        </ion-row> 
    </form>
</div>
</ion-content>