<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/home/main-page']" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title class="ion-text-center"> {{'app_menu.category_menu' | translate}} </ion-title>
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="categoryFormId" class="center-content" #categoryFrm="ngForm" (ngSubmit)="onSubmit()" >
<!--
    @if( this.error ){
      <ng-container [ngTemplateOutlet]="errorTemplate"></ng-container>
    }
  
    <ng-template #errorTemplate>
      <ion-text>{{ error }}</ion-text>
    </ng-template>
  -->

          <ion-row >
        
        <ion-col>
            <ion-input
              label-placement="floating" 
              placeholder="{{'category.placeholdername' | translate}}"
              label="{{'category.name' | translate}}"
              counter="true"
              maxlength="50"
              [(ngModel)]="categoryRequest.name"
              #name="ngModel"
              name="name"
              required
              color="secondary"
              [ngModelOptions]="{ updateOn: 'blur' }"
              CategoryNameIsUnique
            >
            @if (name!.pending){
              <ion-spinner slot="end"></ion-spinner>
            }

          </ion-input>
          @if (name!.invalid && (name!.touched || name!.dirty)) {

            @if (name!.errors?.['required']) {
              <ng-container [ngTemplateOutlet]="nameTemplateRequired"></ng-container>
            }
    
    
            @if(name!.errors?.['notUnique']){
              <ng-container [ngTemplateOutlet]="nameTemplateExists"></ng-container>
            }
            
          }
    
          <ng-template #nameTemplateRequired>
            <ion-text class="error-text" color="danger"><small>{{'category.namereq' | translate}}</small></ion-text>
          </ng-template>
    
          <ng-template #nameTemplateExists>
            <ion-text class="error-text" color="danger"><small>{{'category.nameduplicate' | translate}}</small></ion-text>
          </ng-template>

        </ion-col>  

      </ion-row>


    
      <ion-row >
        
        <ion-col>
            <ion-input
              label-placement="floating" 
              placeholder="{{'category.placeholderdescr' | translate}}"
              label="{{'category.descr' | translate}}"
              counter="true"
              maxlength="100"
              [(ngModel)]="categoryRequest.descr"
              #descr="ngModel"
              name="descr"
              required
              color="secondary"
            ></ion-input>

            @if ( descr!.invalid && ( descr!.dirty || descr!.touched)) {

              @if (descr!.errors?.['required']) {
                <ng-container [ngTemplateOutlet]="descrTemplateRequired"></ng-container>
              }
              
            }
      
            <ng-template #descrTemplateRequired>
              <ion-text class="error-text" color="danger"><small>{{'category.descrreq' | translate}}</small></ion-text>
            </ng-template>

        </ion-col>  

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-select label="{{'category.account_type' | translate}}" 
                      label-placement="floating" 
                      fill="outline"
                      required
                      [(ngModel)]="categoryRequest.account_type"
                      #account_type="ngModel"
                      color="secondary"
                      name="account_type"
                      [value]="1"
                      >
            <ion-select-option [value]="1" translate>user</ion-select-option>
            <ion-select-option [value]="2" translate>market</ion-select-option>
            <ion-select-option [value]="3" translate>restaurant</ion-select-option>
            <ion-select-option [value]="4" translate>medicine</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        
        <ion-col>
          <ion-label expand="full" (click)="openPopOver($event)">{{groupName!.name}}</ion-label>
        </ion-col>
    
      </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="!categoryFrm.valid"
                    type="submit" 
                    color="secondary" 
                    expand="block"
                    translate="category.buttonsubmit"
                    class="submit-button">
             @if(isLoading) {<ion-spinner class="spinner-button"></ion-spinner>}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-toast
    [isOpen]="isToastOpen"
    message="{{'category.toastsave' | translate}}"
    [duration]="3000"
    (didDismiss)="setOpenToast(false)"
  ></ion-toast>
</ion-content>

