<div class="account-product-main">
  <ion-grid class="grid-margin">
    <ion-row>
      <ion-col>

        <div class="account-product-container">
   
          <img class="img-account-product" [src]="imageUrl"/>

        </div> 

      </ion-col>
    </ion-row>
    <hr/>
    <ion-row>
      <ion-col size="2" class="ion-text-center" >
        <ion-text > {{ 'accountproduct.serial' | translate }}  </ion-text> 
      </ion-col>
      <ion-col size="4" class="ion-text-center" >
        <ion-text > {{ 'accountproduct.unit_name' | translate }}  </ion-text> 
      </ion-col>
      <ion-col size="3" class="ion-text-center" >
        <ion-text > {{ 'accountproduct.default_price' | translate }}  </ion-text> 
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-text > {{ 'accountproduct.current_price' | translate }}  </ion-text> 
      </ion-col>
    </ion-row>
    <hr />
    <ion-row>
      <ion-col>
        <form id="accountProductFormId" class="account-product-form" #accountProductForm="ngForm" (ngSubmit)="onSubmit()" >
          <ion-grid>
            @for(product of accountProductList ; track product.uom_id;let idx=$index){
              <ion-row >
                <ion-col size="2" class="ion-text-center line-row" >
                  <ion-text >{{idx+1}}</ion-text> 
                </ion-col>
                <ion-col size="4" class="ion-text-center line-row" >
                  <ion-text > {{ product.uom_name }}  </ion-text> 
                </ion-col>
                <ion-col size="3" class="ion-text-center line-row">
                  <ion-text > {{ product.price!.toFixed(2) }}  </ion-text> 
                </ion-col>
                <ion-col size="3" class="ion-text-center ion-no-padding" >
                  <ion-input type="number" class="custom"  [(ngModel)]="accountProductList[idx].accountPrice" name="accountPrice-{{idx}}" > </ion-input> 
                  <!-- <ion-text > {{ product.accountPrice!.toFixed(2) }}  </ion-text>  -->
                </ion-col>
              </ion-row>
            }
        
          <ion-row>
            <ion-col >
              <ion-button [disabled]="!accountProductForm.valid"
                          type="submit" 
                          color="secondary" 
                          expand="block"
                          translate="product.registerproduct"
                          class="submit-button">
                  @if(isLoading) { <ion-spinner class="spinner-button"> </ion-spinner> }
              </ion-button>
            </ion-col>
            <ion-col >
              <ion-button 
                          (click)="cancel()"
                          color="danger" 
                          expand="block"
                          translate="app.cancel"
                          class="submit-button">
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>

      </ion-col>
    

    </ion-row>
  </ion-grid>

 
</div>
