.cart-container {
    margin: 5px;
}

.items-container {
    border: 1px solid rgba(0, 0, 128, 0.811) ;
    border-radius: 5px;
    width: 100%;
}


.seller-logo{
    width: 75%;
    height: 75%;
    max-height: 150px;
    max-width: 125px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px rgb(161, 158, 158) solid;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    z-index: 2;
}



  ion-label {
    font-size: 0.9em;
    font-weight: bold;
  }