


<ion-card class="one-margin-padding" >
  <ion-card-content >
  

      <form id="accountOfferFormId" class="account-offer-form" #accountOfferForm="ngForm" (ngSubmit)="onSubmit()" >
          <ion-grid >
            <ion-row   class="ion-justify-content-center" >
              <ion-col size="9"> 
                <div class="row-center-img">
                  <img class="img-product" [alt]="offerDetailsInput().product_name" [src]="productImage" />
                  <span class="product-discount">
                    <strong>{{offerDetailsInput().details[0].percent_discount}}%</strong>
                  </span>
                </div>
              </ion-col>
            </ion-row>

            <ion-row   class="ion-justify-content-center" >
              <ion-col size="12"> 
                <p class="ion-col-center">{{offerDetailsInput().product_name}}</p>
              </ion-col>
            </ion-row> 
            
            <hr/>
            <ion-row>
              <ion-col size="2" class="ion-text-center" >
                <ion-text > {{ 'accountproduct.unit_name' | translate }}  </ion-text> 
              </ion-col>
              <ion-col size="2" class="ion-text-center" >
                <ion-text > {{ 'accountoffer.max_quan' | translate }}  </ion-text> 
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <ion-text > {{ 'accountoffer.max_limit' | translate }}  </ion-text> 
              </ion-col>
              <ion-col size="2" class="ion-text-center" >
                <ion-text > {{ 'accountoffer.price' | translate }}  </ion-text> 
              </ion-col>
              <ion-col size="2" class="ion-text-center" >
                <ion-text > {{ 'accountoffer.discount_rate' | translate }}  </ion-text> 
              </ion-col>
              <ion-col size="2" class="ion-text-center" >
                <ion-text > {{ 'accountoffer.o_price' | translate }}  </ion-text> 
              </ion-col>
            </ion-row>
            <hr />
             
            @for(product of offerDetailsInput().details ; track product.unit_id;let idx=$index){
              <ion-row >

                <ion-col size="2" class="ion-text-center line-row" >
                  <ion-text > {{ product.unit }}  </ion-text> 
                </ion-col>

                <ion-col size="2" class="ion-text-center line-row">
                  <ion-input
                        type="number"
                        [(ngModel)]="product.max_quan"
                        name="max_quan-{{idx}}"
                        color="secondary"
                  ></ion-input> 
                </ion-col>

                <ion-col size="2" class="ion-text-center line-row">
                  <ion-input
                        type="number"
                        [(ngModel)]="product.max_limit"
                        name="max_limit-{{idx}}"
                        color="secondary"
                  ></ion-input> 
                </ion-col>

                <ion-col size="2" class="ion-text-center line-row">
                  <ion-text class="ion-col-center price-ignore">  {{product.price}}  </ion-text>
                </ion-col>

                <ion-col size="2" class="ion-text-center line-row">
                  <ion-input
                        type="number"
                        [(ngModel)]="product.percent_discount"
                        name="percent_discount-{{idx}}"
                        color="secondary"
                  ></ion-input>
                </ion-col>

                <ion-col size="2" class="ion-text-center line-row">
                  <ion-input
                        type="number"
                        [(ngModel)]="product.o_price"
                        name="o_price-{{idx}}"
                        color="secondary"
                        (ionFocus)="offerPriceFocusEevent(idx)"
                  ></ion-input>
                </ion-col>


              </ion-row>
            }
   
            <ion-row   class="ion-justify-content-center" >
              <ion-col size="3"> 
                <ion-button fill="outline"
                            [disabled]="!accountOfferForm.valid"
                            type="submit" 
                            color="secondary" 
                            expand="block"
                            translate="accountoffer.save_offer_price"
                            class="submit-button">
                    @if(isLoading) {<ion-spinner class="spinner-button"></ion-spinner>}
                </ion-button>
              </ion-col>
              <ion-col size="3">
                <ion-button fill="outline"
                            (click)="cancel()"
                            color="danger" 
                            expand="block"
                            translate="app.cancel"
                            class="submit-button">
                </ion-button>
              </ion-col>
            </ion-row>  
          </ion-grid>
      </form>    
  
  
  </ion-card-content>
</ion-card>