<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button [disabled]="!selectedItem" (click)="confirmChanges()">{{'single_selection_searchbox.additem' | translate}}</ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{ 'single_selection_searchbox.selectitem' | translate }}</ion-title>
  
    <ion-buttons slot="end">
      <ion-button (click)="cancelChanges()">{{ 'single_selection_searchbox.cancel' | translate }}</ion-button>
    </ion-buttons>
 
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #inputSearch [debounce]="500" placeholder="{{ 'app.search' | translate }}"  (ionInput)="searchbarInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">

  @if (items && items.length > 0) {
    <ng-container [ngTemplateOutlet]="searchItemsList"></ng-container>
  }

  <ng-template #searchItemsList>

      <cdk-virtual-scroll-viewport itemSize="150" class="ion-content-scroll-host">
          <ion-list id="modal-list"  >
            <ion-radio-group [compareWith]="compareWith" (ionChange)="selectItem($event)">
              <ion-item  class="ion-border" *ngFor="let item of items ; trackBy: trackItems" [disabled]="item?.exists">
                <ion-avatar slot="start">
                  <img [src]="item?.icon" />
                </ion-avatar>
                <ion-radio [value]="item">{{ item?.name }}</ion-radio>
                @if(item?.exists){
                  <ion-text  color="danger"><small>{{'accountproduct.addnotallow' | translate}}</small></ion-text>
                }
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-infinite-scroll  (ionInfinite)="onIonInfinite($event)" threshold="100px">
            <ion-infinite-scroll-content loadingText="{{'app.show_more' | translate}}" loadingSpinner="lines-sharp"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </cdk-virtual-scroll-viewport>
    </ng-template>

</ion-content>
