<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'app_menu.suppliers' | translate }}</ion-title>
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" >
  @for(sup of suppliers ; track sup.account_name){
     <app-supplier-card 
             [supplier]="sup"  
             (click)="supplierClicked(sup.id)" >
     </app-supplier-card>
  }
</ion-content>
