/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: #6815ec;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}

ion-segment-button {
  --indicator-color: var(--ion-color-primary);
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: var(--ion-color-primary);
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: var(--ion-color-primary);
  --color-checked: #fff;
  --border-radius: 20px;
}


/*
ion-accordion {
    margin: 0 auto;
}
  
  ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
  
    margin: 16px auto;
  }
*/
  ion-accordion.accordion-collapsing ion-item[slot='header'],
  ion-accordion.accordion-collapsed ion-item[slot='header'] {
    --background: var(--ion-color-primary); 
    --color: #fff;
    font-weight: 600;
    ion-icon{
        color: #fff;
    }
    border-bottom: 2px solid #fff;
  }
  
  ion-accordion.accordion-expanding ion-item[slot='header'],
  ion-accordion.accordion-expanded ion-item[slot='header'] {
    --background: #0c0254;
    --color: #fff;
    font-weight: 600;
    ion-icon{
        color: #fff;
    }
    border-bottom: 2px solid #fff;
  }

  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
  
   //--border-color: #696369;
   //--border-width:  0 0 0 3px;
  
    --min-height: 60px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    position: relative;
  }

  ion-menu-button{
    --color: white;
  }

  .text-search {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1.5px solid rgb(66, 66, 73);
    border-radius: 5px;
    background-color: rgb(220, 227, 230);
    color: rgb(66, 66, 73);
    font-size: large;
    width:100%;
  }

  .button-add {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1.5px solid rgb(66, 66, 73);
    border-radius: 5px;
    background-color: rgb(220, 227, 230);
    color: rgb(66, 66, 73);
    font-size: smaller;
    text-overflow: none;
  }
  
  .border-bottom-part-one{
    position:absolute;
    left:0;
    bottom:0;
    height:3px;
    width:25%;
    background:#cb1a27;
  }
  .border-bottom-part-two{
    position:absolute;
    left:25%;
    bottom:0;
    height:3px;
    width:25%;
    background:#42d96b;
  }
  .border-bottom-part-three{
    position:absolute;
    left:50%;
    bottom:0;
    height:3px;
    width:25%;
    background:#7045ff;
  }
  .border-bottom-part-four{
    position:absolute;
    left:75%;
    bottom:0;
    height:3px;
    width:25%;
    background:#ffca22;
  }

  hr {
    border: 1px solid rgb(198, 195, 195) !important;
    height: 0px !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin: 0px;
    padding: 0px;
  }

  ion-button {
    --background: var(--ion-color-primary);
  }

  ion-back-button{
    --color-hover: #5dbef7;
    --background-hover: var(--ion-color-primary);
  }


  // search bar
  ion-searchbar.custom {
    --background: #8f84e2;
    --color: #fff;
    --placeholder-color: #fff;
    --icon-color: #fff;
    --clear-button-color: #fff;
  
    --border-radius: 4px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: #77a8f1;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #739edf;
  }


.error-text{
    position: absolute;
    top: 63px;
    margin: 0 auto;
    font-size:small;
}

.submit-button{
    position: relative;
}

.spinner-button  {
    position: absolute;
    width: 16px !important;
    height: 16px !important;
}

.spinner-button:dir(rtl){
    right: 10px;
}

.spinner-button:dir(ltr){
    left: 10px;
}


.margin-content{
    margin: auto 50px;
}

@media screen and (max-width : 500px ){
    .margin-content{
        margin: auto 40px;
    }
}

@media screen and (max-width : 450px ){
    .margin-content{
        margin: auto 30px;
    }
}

@media screen and (max-width : 100px ){
    .margin-content{
        margin: auto 20px;
    }
}

.center-content{
    margin-left: 2rem;
    margin-right: 2rem;
}

.margin-top-item{
    margin-top: 1rem;
}

.content-center {
   /* display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;*/
   // border: 2px solid blueviolet;
    margin: 25px 25px;
    height:calc(100% - 50px);
}

ion-modal {

   --background:rgba(44,39,45,0.2);

   &::part(content){
    backdrop-filter: blur(6px);
   }

   ion-content {

    --padding-top:15vh;
    --padding-start:20px;
    --padding-end:20px;
    --background:transparent;

        ion-datetime{
            border-radius: 7px;
        }
    
   }

}

.price-ignore{
 
  text-decoration: line-through;
}

.main-menu {
    height: 64px;
 }


 // display grid of groups

 .product-card {
    position: relative;
    padding: 3px;
    height: 200px;
    width: 100%;
    border: 2px solid #7686a3;
    border-radius: 5px;
 }

 .product-image-card{
    padding: 1px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
 }
 
 .img-product-card{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
 }
 .product-title-card {
    padding: 1px;
    position: absolute;
    max-height: 50px;
    top: 75%;
    height: calc(25% - 5px);
    width: calc(100% - 5px);
    text-align: center;
    opacity: .6;
    background-color: black;
    color: #cdc8c8 ;
    border-radius: 5px;
    h1 {
      position: absolute;
      margin: 0 auto ;
      font-weight: 900;
      font-size: 12px;
      text-align: center;
    }
 }

 .group-margin-padding{
  padding: 1px;
}

.card-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
}

.image-group{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  position: absolute;
  padding: 5px;
  height: 100%;
  width: 100%;
  img { 
    width: 100%;
    height: 100%;
  }
} 

.name-group{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  position: absolute;
  top: 75%;
  height: 25%;
  width: 100%;
  opacity: .8;
  background-color: var(--ion-color-primary);
  color: #f5f2f2 ;
  h1 {
    position: absolute;
    margin:0 auto ;
    font-weight: 900;
    font-size: 12px;
  }
} 


// product card

.row-center-img {
  position: relative;
  margin: 0 auto;
  height: 21vh;
  width: fit-content;
}


.img-product {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  object-fit: cover;
}

.product-discount{
  background: rgb(63, 232, 63);
  color: #041733;
  padding-top:2px;
  font-size: x-small;
  width: 33px;
  height: 15px;
  position: absolute;
  top: 1px;
  right: 5px;
  text-align: center;
  border-radius: 25px;
  z-index: 2;
}

.ion-col-center {
  color: #1455c5;
  text-align: center;
}


.one-margin-padding {
  margin: 3px;
  padding: 1px;
}


.loading-wrapper {
  visibility: hidden;
}

.loading-spinner {
  visibility: visible;

}
ion-spinner{
  --spinner-color: #0b073e;  //red 
  transform: scale(1);  //increase the size of spinner
}


.container-button-add{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 20px);
  height: 45px;
  margin: 10px;
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
  background-color: #07b0f3;
}

.text-des-add{
  height:30px;
  width: calc(100% - 90px);
  font-weight: 900;
  font-size: 12px;
  margin: auto 3px ;
  text-align: center;
}

.button-add{
   margin: 3px;
   height:30px;
   width: 75px;
   max-width: 80px;
   min-width: 55px;
}


.title-button-add-products{
  color: darkred;
  font-size: 16px;
  font-weight: 900;
  margin: 5px auto;
}