.home-content{
    height:calc(100vh - 44px);
    overflow: hidden;
}

ion-badge {
    --background:  rgb(35, 246, 16);
    --color: white;
    --padding-end: 20px;
    --padding-start: 20px;
    
    font-size: 11px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }