
  
  <ion-content class="ion-padding"> 

    <ion-tabs >

      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="{{mainPage}}" (click)="this.titleHomePage='app_menu.main'">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>{{ 'app_menu.main' | translate }}</ion-label>
        </ion-tab-button>
    
        <ion-tab-button id="cart-btn" tab="{{cartPage}}" (click)="this.titleHomePage='app_menu.shopping_cart'">
          <ion-icon  name="cart-svg"></ion-icon>
          <ion-label> {{ 'app_menu.shopping_cart' | translate }} </ion-label>
          @if(countOrders > 0 ){
             <ion-badge color="primary" id="cart-badge" >{{ countOrders }}</ion-badge>
          }
        </ion-tab-button>
    
        <ion-tab-button tab="{{suppliersPage}}" (click)="this.titleHomePage='app_menu.suppliers'">
          <ion-icon  name="cog"></ion-icon>
          <ion-label>{{ 'app_menu.suppliers' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="{{offerSuppliersPage}}" (click)="this.titleHomePage='app_menu.offers'">
          <ion-icon name="cash-outline"></ion-icon>
          <ion-label>{{ 'app_menu.offers' | translate }}</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    </ion-tabs>
    
  </ion-content>


