<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/home/main-page']" >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">{{ 'app_menu.orders_incoming' | translate }}</ion-title>
    <span class="border-bottom-part-one"></span>
    <span class="border-bottom-part-two"></span>
    <span class="border-bottom-part-three"></span>
    <span class="border-bottom-part-four"></span>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="outcoming-orders-container">
    @for(order of ordersIn ;track order.id; let idx = $index){
      <app-order-operating 
        [order]="order"
        [orderDirection]="'out'"
        [orderIdx]="idx"
        [showHeader]="true"
        [showDetailsOption]="true"
        (fetchOrderEmitter)="fetchOrder(idx)"
        (updateOrderEmitter)="updateOrder($event)"
      />

    }  
   </div>
</ion-content>
