<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button   [routerLink]="['/']" ></ion-back-button>
    </ion-buttons>
    <ion-title>Verfiying OTP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="verfiy-register-content">
      <form id="otpFormId" class="verfiy-register-form" #otpForm="ngForm" (ngSubmit)="verfiyOtp()">
    <!--
      @if( this.error ){
        <ng-container [ngTemplateOutlet]="errorTemplate"></ng-container>
      }
      <ng-template #errorTemplate>
        <ion-text>{{ error }}</ion-text>
      </ng-template>
    -->
        <ion-row >
          
          <ion-col>
              <ion-input
                label-placement="floating" 
                placeholder="{{'otp.enterotpnumber' | translate}}"
                label="{{'otp.otpnumber' | translate}}"
                [(ngModel)]="iVerfiyOtp.otp"
                #otp="ngModel"
                name="otp"
                counter="true"
                maxlength="6"
                minlength="6"
                required
                color="secondary"
              ></ion-input>
          </ion-col>  

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button type="submit" [disabled]="!otpForm.valid" color="secondary" expand="block" class="submit-button">
              {{'otp.verfiy' | translate}}  @if(isLoading) {<ion-spinner class="spinner-button"></ion-spinner>}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
   </div>  
</ion-content>
